body {
    background-color: antiquewhite;
    text-align: center;

}



.logo-nesser {
    width: 200px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #CA6F1E;
    border-bottom: 3px solid aqua;
    text-align: center;
    padding: 15px 15px;
    /* eje horizontal el principal porque estoy trabajando en fila */
}


li {
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
}


* {
    margin: 0;
    padding: 0;
}

.logonesser {
    width: 150px;
}

.cuartodehelado {
    width: 70px;
    border: 2px solid black;

}

.mediodehelado {
    border: 2px solid black;
    width: 150px;
}

.kilodehelado {
    border: 2px solid black;
    width: 230px;
}

li ol nav {
    list-style: none;
    display: inline-block;
    margin: 4px 20px;

}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #fafafa;
}

main {
    margin: 10px;
    padding: 10px;
}

h1 h2 {
    text-align: center;
    margin: 40px 0px;
}

hr {
    border-bottom: 3px solid azure;
}

footer {
    margin: 20px;
    padding: 15px;
    border-top: 1px solid black;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;

}

.mapa1 {
    border: 4px solid #333;
    border-radius: 10px;

}

.videito {
    border: 5px solid red;


}

iframe {
    display: block;
    margin: auto;
}

form {
    margin-top: 20px;

}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 4px;
    color: #333;

}

input[type="text"],
textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid aliceblue;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 15px;
}

.btnPedido {
    background-color: wheat;
    color: black;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}

.btnContacto {
    background-color: wheat;
    color: black;
    border: none;
    padding: 15px 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;

}

@media (max-width:1023px) {
    .encabezado {
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .encabezado .btnCerrar {
        display: none;
        /* aca le di una clase al "CERRAR" de todas las paginas, y para cuando haya una pantalla con menos, se elimine. */
    }
    .videito  {
        width: 200px ;
    }

    .kilodehelado {
        width: 150px;
    }
    .mediodehelado{
        width: 90px;
    }
    .cuartodehelado{
        width: 50px;
    }
    textarea {
        width: 50%;
    }

    form .casilleroPedido{
        width: 70%;
        text-align: center;
    }

    input {
        align-items: center;
    }

    .banner {
       font-size: 55% ; 
    }

    .txtPedido {
        font-size: 20px;
    }
    footer {
        flex-direction: column;
        font-size: 15px;
    }

}

/* ajustes especificos para la vista mobil */
/* de 0 a 768px */
@media (max-width:768px){

}

.menuHamburguesa {
    background-color: #CA6F1E;
}
.nav-link {
    color: #fafafa;
}
